:root {
    --color-primario: rgb(15, 20, 60);
    --color-fondo: #f3f3f3;
    --color-blanco: #ffffff;
    --fuente-principal: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo);
    margin: 0;
}

header {
    background-color: var(--color-primario);
    color: var(--color-blanco);
    padding: 1rem;
    text-align: center;
}

section {
    background: var(--color-blanco);
    margin: 1.25rem;
    padding: 1.25rem;
    border-radius: 0.5rem;
}

img {
    max-width: 100%;
    height: auto;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
p, a { font-size: 1rem; }

@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .proyectos {
        display: flex;
        flex-direction: column;
    }

    .galeria {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .proyectos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .galeria {
        grid-template-columns: repeat(3, 1fr);
        display: grid;
    }
}
@media (min-width: 1025px) {
    .proyectos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .galeria {
        display: flex;
        justify-content: space-around;
    }
}
.oculto {
    display: none;
}
