body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(15, 20, 60);
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: yellow;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
}

ul {
    list-style: square;
    padding-left: 20px;
}

.galeria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.galeria article {
    text-align: center;
    margin: 10px;
}

.galeria img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}

.galeria img:hover {
    transform: scale(1.03);
    transition: 0.2s;
}

.yo{
        width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}